{
  "token": "YOUR_BOT_TOKEN_HERE",
  "prefix": "*",
  "remote-users": [],
  "autoreply": {
    "messages": [
      "I'm currently busy. I'll respond later!",
      "Thanks for the message! I'll get back to you soon."
    ],
    "channels": [],
    "users": []
  },
  "afk": {
    "enabled": false,
    "message": "I am currently AFK. I will respond as soon as possible!"
  },
  "copycat": {
    "users": []
  },
  "selenium": {
    "headless": false,
    "implicit_wait": 10,
    "page_load_timeout": 30,
    "window_size": {
      "width": 1920,
      "height": 1080
    }
  },
  "tts": {
    "provider": "elevenlabs",
    "default_voice": "default",
    "save_path": "temp/tts"
  }
}
